.logo
{
    width:33%;
    color:#87D13E;
    font-family :"Agency FB";
   	color: #000;	     
    float:left;
}
.caja
{
    width:65%;  
    float:right;
    margin-left: 21px;
}

.botones
{ 
     background-color:#87D13E;
     font-size:small; 
     /*font-weight:bold;*/     
     color:#F0f0f0;
     border:none;
     padding:5px;
     /*border-radius:15px;*/     
}
.botones:hover
{
  
     background-color:#008A17;
     font-size:small ; 
     font-weight:bold;
     color:#F0f0f0; 
     border:none; 
     padding:5px;   
     /*border-radius:15px;*/ 
}

.titulo
{
    font-family:"Agency FB";
    font-size:xx-large;
    font-weight:bold; 
    color:#87D13E;
}

.menu
{ 
  width: 20%;  
  float:left;  
}

.principal
{
  width: 80%;  
  float:left; 
}

.buscador
{
     max-height:800px;
     float:right;
}

@media screen and (max-width:800px)
{
    .principal{
            width :100% ;
           }
     .menu
{ 
  width: 100%;  
  
}
}

/*table*/
 table { 
	font-family:"Agency FB";
	color: #000;
	text-align: left;	
	border: none;	
}

.tablePrincipal
{
    font-family:"Agency FB";
	color: #000;
	border:none;
	text-align: left;	
	border: none;
    box-shadow: rgba(0,0,0,10) 0px 0px 30px;
    /*border-radius:5px;*/
}

tr:hover {
	background-color: #B7E38B;
	color: #ffffff;
}

tr {
	vertical-align: top;
}

tr,th,td {
	padding: .75em;
	border:none;
}

.popup
{
    width:23%;
    font-family:"Agency FB";
    text-align: left;	
    float:left; 
}   
